/* 1) IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* 2) Tailwind */
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss/theme" layer(theme);


:root {
  /* Page background and surfaces */
  --color-bg: #F6F7F8;       /* very light, soft mint/teal background */
  /*--color-bg-alt: #ffffff;      !* cards / sections (slightly off-white) *!*/

  /* Brand accents */
  --color-primary: #2e536f;     /* teal / pleasant primary */
  --color-secondary: #5072A7;   /* deeper green accent */

  /* Text colors */
  --color-text: #0f1724;        /* dark slate for main text */
  --onblack-color-text: #0f1724;        /* dark slate for main text */
  --color-text-muted: rgba(15,23,36,0.6); /* for breadcrumbs, small text */
  --color-text-onblack: #f6fbfb;
  --color-muted: #6b7280;       /* utility muted color */
  --color-form-text: #ffffff;        /* dark slate for main text */
  --color-header-text:#F5F5F5;

  /* small helpers */
  --color-surface: #ffffff;
  --color-border: rgba(15,23,36,0.06);

  --color-input-border: #e6eef0; /* soft light border */
  --color-input-focus: #0ea5a4;  /* use primary as focus */

  /* lighter form inputs */
  --color-bg-alt: #2e536f;
  /*--color-bg-alt: #222222;*/
}

/* Fallback body styling to ensure consistent base look */
html, body {
  /*background-color: var(--color-bg);*/
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*h2{*/
/*  color: ;*/
/*}*/

/* Optional utility to tint section backgrounds (used by components) */
.section-bg {
  background-color: var(--color-bg-alt);
}
